<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tarea01-triangulos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C1B62FB1F434F7700FD6C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1B630F1F434F7800FD6C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1B631A1F434F7800FD6C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
